.topbarContainer {
  height: 50px;
  width: 100%;
  background-color: #065ad8;
  display: flex;
  align-items: center;
  position: sticky;
  top: 0;
}

.topbarLeft {
  flex: 6;
}

.topbarRight {
  flex: 6;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.logo {
  width: 130px;
  margin-left: 20px;
  cursor: pointer;
}

.profileImage {
  width: 40px;
  height: 40px;
  margin-right: 25px;
  border-radius: 50%;
  object-fit: cover;
  cursor: pointer;
}

.topbarIcons {
  margin-right: 15px;
  color: #fff;
  margin-top: 5px;
  display: flex;
  gap: 15px;
}
