{% extends 'to_do_list/main.html ' %}
{% block content %}
<div class="card-body ">
  <h3>CREATE YOUR TASK HERE</h3>
  <a id="add-link" href="{% url 'task-create' %}"></a>
<a href="{% url 'tasks' %}"  ><button type="submit" name="submit" class="btn btn-outline-danger">
  GO BACK
</button></a>
  <form  method="POST" action="">
      {% csrf_token %}
      {{form.as_p}}

      <input type="submit" class="btn btn-primary" value="Submit">
  </form>
</div>

  <script>
  $(document).ready(function(){
    var date_input=$('input[name="due"]');
    var container=('input[name="location"]')
    var container=$('.bootstrap-iso form').length>0 ? $('.bootstrap-iso form').parent() : "body";
    var options={
      dateFormat: 'yy-mm-dd',
      
    };
    date_input.datepicker(options);
  })
</script>

{% endblock content %}