.menuBar {
  flex: 3;
  height: calc(100vh - 50px);
  background-color: #e6effb;
}

.menuBarList {
  padding: 0;
  margin: 0;
  list-style: none;
  border-bottom: 0.5px solid #c0c0c0;
}

.menuBarListItem {
  display: flex;
  align-items: center;
  font-size: 14px;
  cursor: pointer;
  padding: 10px 20px;
}

.menuBarListItem:hover {
  background-color: #dce8f9;
}

.menuBarListActive {
  background-color: #cddef7;
}

.menuBarIcon {
  margin-right: 10px;
  font-size: 20px !important;
  color: #333;
}

ul li span:nth-child(2) {
  width: 100%;
}
