.menuBar {
  flex: 3;
  height: calc(100vh - 50px);
  background-color: #e6effb;
}

.menuBarWrapper {
  width: 100%;
  padding-bottom: 40px;
  border-bottom: 0.5px solid #c0c0c0;
}

.menuBarList {
  padding: 0;
  margin: 0;
  list-style: none;
}

.menuBarListItem {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  position: relative;
  font-size: 14px;
  cursor: pointer;
}

.menuBarListItem:hover {
  background-color: #cddef7;
  width: 100%;
}

.menuBarIcon {
  margin-right: 10px;
  margin-left: 20px;
  font-size: 20px !important;
  color: #333;
}

.menuBarListItemCounter {
  position: absolute;
  right: 20px;
}

.menuBarListActive {
  background-color: #cddef7;
  width: 100%;
}
