.logo {
    width: 200px;
    margin-left: 80px;
    margin-top: 20px;
    cursor: pointer;
  }

.formWrapper{
    display: flex;
    height: calc(100vh - 120px);
   
    
}
  
.formWrapper{
  display: flex;
  height: calc(100vh - 120px);
  align-items: center;
  justify-content: center;
}

  
  .Login-heading {
    justify-content: center;
    align-items: center;
    width: 320px;
    height: 50px;
    border-radius: 50%;
    font-size: 24px;
    margin-bottom: 32px;
    
  }

  .btnText {
    font-size: 16px;
  }
  
  .formButton {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 14px 28px;
    margin-bottom: 20px;
    border: none;
    border-radius: 5px;
    background-color: #065ad8;
    color: #fff;
    cursor: pointer;
  }
  
  .formButton:hover {
    background-color: #1f6bdc;
  }
  
  .formButton > .MuiSvgIcon-root {
    font-size: 24px;
  }

  .formLinks {
    display: flex;
    align-items:center;
    width: 100%;
  }
  
  .passwordLink {
    background: none;
    border: none;
    color: #065ad8;
    font-size: 16px;
    font-weight: 500;
    margin: 0;
    cursor: pointer;
  }

  .passwordLink:hover {
    text-decoration: underline;
  }
  
  