.centerBar{
    flex: 6;
    border-right: 0.5px solid #C0C0C0;
    font-family: 'Courier New', Courier, monospace;
}

.menuBarIconn {
    margin-right: 10px;
    color: #333;
    margin-top: 10px;
    margin-left: 5px;
  }

.menuBarListItemTextt {
    padding-left: 4px;
    margin-bottom: 4px;
    text-align: center;
    padding: 20px;
}