.centerBar{
    flex: 6;
    border-right: 0.5px solid #C0C0C0;
}

.menuBarIconn {
    margin-right: 10px;
    color: #333;
    margin-top: 10px;
    margin-left: 5px;
  }

.menuBarListItemTextt {
    padding-left: 4px;   
    margin-bottom: 4px;
    text-align: center;
}

.Addtasks {
    padding-left:10px;
    margin-top: 30px;
    padding-right: 8px;
}

.Addatask {
    padding-left: 20px;
    margin-top: 2px;
    cursor: pointer;
    height: 40px;
    width: 622px;
    text-align: left;
    background-color: white;
    border-radius: 6px;
    border-color: rgb(159, 158, 158);
    border-width: 0.5px;
    
}

.AddTask {
    padding-left: 20px;
    margin-top: 5px;
    color: #065ad8;
    font-weight: bold;
    cursor: pointer;
    height: 40px;
    width: 622px;
    text-align: left;
    background-color: white;
    border-radius: 6px;
    border-color: rgb(159, 158, 158);
    border-width: 0.5px
}

.AdTaskk {
    padding-left: 10px;
}

.buttonStyle {
    background-color: #065ad8;
}

.missedtask {
    width: 40px;
    height: 40px;
    margin-right: 25px;
    object-fit: cover;
    cursor: pointer;
    padding-left: 5px;
    padding-top: 30px;
    align-items: center;
}

.missingtask img{
    display: block;
    margin: 0 auto;
    align-items: center;
}