.btntranslate {
  background-color: white;
  font-size: 14px;
  border: none;
}

.ml-auto.rightposned {
  right: 0;
  margin-right: 50px;
}

.btntranslate:hover, .btntranslate:active, .btntranslate:focus {
  background-color: #f72585;
}

.rezed {
  z-index: 4;
  height: 100%;
  margin-top: 50px;
  margin-right: 0px;
  right: -10%;
  top: -20%;
  transform: rotate(0deg);
}

.signup {
  justify-items: center;
  align-items: center;
}

.google {
  text-align: center;
  width: auto;
  height: auto;
  display: block;
}

.spaced {
  display: flex;
  justify-content: space-evenly;
}

.formed {
  align-items: center;
  justify-content: center;
  display: block;
}

#email-2:hover #email-2:active #email-2:focus {
  border: chartreuse;
}


.btncreate {
  background: linear-gradient(#F72585, #B5179E);
  margin-bottom: 20px;
  font-size: 16px;
}

.extended {
  right: 10%;
}

