.rightBar{
    flex: 3;
    justify-content: center;
    align-items: center;
    margin-left: 30px;
    margin-right: 10px;
    color: #333;

}
.clickIcon {
    display: flex;
    width: 200px;
    height: 200px;
    margin-top: 139px;
    justify-content: center;
    align-items: center;
    margin-left: 50px;
  }